<html>
  <head> </head>
  <title> WINE</title>
  <body> 
    <form>
    <h2>Wine Quality Predictor </h2>
    <b>Fixed_Acidity:         </b><input type="text"  name="username"></br>
     <b>volatile_Acidity:     </b><input type="text"  name="username"></br>
    <b>citric_acid:           </b><input type="text"  name="username"></br>
    <b>residual_sugar:        </b><input type="text"  name="username"></br>
    <b>chlorides:             </b><input type="text"  name="username"></br>
    <b>free_sulfur_dioxide:   </b><input type="text"  name="username"></br>
    <b>total_sulfur_dioxide:  </b><input type="text"  name="username"><br>
    <b>density:               </b><input type="text"  name="username"></br>
    <b>PH:                    </b><input type="text"  name="username"></br>
    <b>Sulphates:             </b><input type="text"  name="username"></br>
    <b>alcohol:               </b><input type="text"  name="username"></br>
    <input type="submit" formaction="/predict" value="Predict"><br><br>
    </form>
  </body>
</html>